[data-elm-hot='true'] {
  height: inherit;
}

@import './_color-themes.scss';
@import './_toggle.scss';

body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: none;
  text-align: center;

  @include themed() {
    background: t($background);
  }
}

h1 {
  font-size: 3rem;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

div {
  box-sizing: border-box;
}

.main {
  min-height: 2500px;

  padding: 80px 8px;

  @include themed() {
    background: t($background);
  }
}

h1.logo {
  color: white;
}

.todo-list {
  display: flex;
  max-width: 540px;
  min-width: 400px;
  margin: 12px auto;
  flex-direction: column;
}

.list-item {
  margin: 6px 0;
  display: flex;
  padding: 12px 16px;
  border-radius: 6px;

  @include themed() {
    background: t($contentBg);
  }
  box-shadow: rgba(0, 0, 0, 0.2) 1px 4px 1px;

  text-align: left;
  font-size: 1rem;
  line-height: 1.6rem;
}

.list-item-text {
  flex-grow: 1;

  @include themed() {
    color: t($text);
  }
}

.list-item-actions button {
  margin: 0px 8px;
  padding: unset;

  font-size: 1.2rem;
  border: unset;
  background: unset;

  cursor: pointer;
}

.dark-mode {
  font-size: 1.5rem;
  line-height: 2rem;

  @include themed() {
    color: t($secondaryText);
  }
}

.text-white {
  color: white;
}
.text-blue {
  @include themed() {
    color: t($primaryColor);
  }
}
.text-red {
  @include themed() {
    color: t($secondaryColor);
  }
}
.text-grey {
  @include themed() {
    color: t($secondaryText);
  }
}

.text-shadow {
  text-shadow: rgba(0, 0, 0, 0.1) 2px 2px 1px;
}
